/*
.sample1{
    width: 200px;
    height: 200px;
    background-color: red;
    border-bottom-left-radius: 12px 20px;
    border-bottom-right-radius: 12px 40px;
    position: relative;
}

.sample1::before{
    content: '';

    display: block;
    
    background-image: url(../bmw.png);
    position: absolute;
    top: 200px;
    width: 500px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}
*/

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.sample1{
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    width: calc(100% /3);
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    flex-direction: row;
}
.child1{
    background-color: lightblue;
    width: 50px;
    height: 30px;
    margin: 10px;

}
#child4{
    /* align-self: stretch;
    height: 90%; */
    flex-shrink: 2;
}
a{
    text-decoration-color: green;
    text-decoration-thickness: 40px;

}